:root {
  --primary-white: #ffffff;
  --primary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-orange: #f9ab00;
  --primary-dark: rgb(52, 58, 64);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-black: #000000;
  --primary-transparent-black: rgba(0, 0, 0, 0.7);
  --primary-green: green;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button{
  background: none;
}
/* ====================================Navbar==================================== */
.navbar{
  height: 10vh;
}
.navbar-brand {
  padding: 1.25rem !important;
  max-width: 17.25rem;
}

.logo{
  width: 10.25rem;
}
@media(max-width:768px) {
  .navbar{
    height: auto;
  }
}
/* ====================================Navbar Links==================================== */

nav{
  z-index: 2;
}
nav a.nav-link{
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav>li>a{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid rgba(255, 255, 255, 0);
  
}

.navbar-nav>li>a.active,.navbar-nav>li>a:focus{
  border-top:0.1875rem solid #f9ab00;
}

.navbar-nav>li>a:hover{
  border-top:0.1875rem solid #f9ab00;
}


/* ====================================Header==================================== */

.header-wrapper{
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('./Images/pexels-hasan-albari-1229861.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.main-info{
  font-family: "Roboto Condesed"sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.main-info h1{
  color :#f9ab00; 
}

/* =========typed text=========== */

.typed-text{
  font-size: 2rem;
  color: #fff;
}

@media(max-width:768px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }

  .typed-text {
    font-size: 1.3rem !important;
  }
}

.btn-main-offer{
  border:1px solid #ef4035;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  text-decoration: none;
  color: white;
  margin: 2rem;
}
.btn-main-offer:hover{
  text-decoration: none;
  background-color: red;
  color: white;
  transition: 0.2s ease-in-out;
}

/* ==================Particles=================== */

.tsparticles-canvas-el{
  position:absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/* @media(max-width:768px) {
  .particle-canvas{
    
  }
} */

/*====================================About ME====================================*/
.about-me {
  background: linear-gradient(to bottom, rgba(0, 0, 0,0.9), rgba(0, 0, 0, 0.8)),
  url('./Images/aboutme.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  border: 0px solid white;
}
.about-me-border{
  border: 0px solid white;
}
@media(max-width:767px) {
  .about-me {
    background-color: #343A40;
    border: 0px solid white;
    height: auto;
    padding-top: 0rem;
  }
  .about-paragraph {
    text-align: justify;
    color: white;
    font-size: 14px;
  }
}
@media(width:768px) {
  .about-me {
    background-color: #343A40;
    border: 0px solid white;
    height: 60vh;
    padding-top: 0rem;
  }

  .about-paragraph {
    text-align: justify;
    color: white;
    font-size: 14px;
  }
}
@media(width:1024px) {
  .about-me {
    background-color: #343A40;
    height: auto;
  }
}
.photo-wrap{
  display: flex;
  justify-content: center;
  align-items: center;

}
.profile-img{
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  padding: 0.3rem;
  border: 2px solid #f9ab00;
}

.about-header{
  color: #f9ab00;
  text-transform: uppercase;
}
.about-paragraph{
  text-align: justify;
  color: white;
}
@media(max-width:375px){
  .profile-img{
    width: 10rem;
    height: 10rem;
  }
}
/* ============================experiences============================== */
.experiences{
  height: auto;
  border: 0px solid white;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
  url('./Images/experience.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1rem;
}

@media(max-width:768px){
  .experiences{
    border: 0px solid white;
    height: auto;
  }
  .experience-wrapper{
    padding: 0;
    border: 0px solid white;
  }
}
.experiences h1{
  text-transform: uppercase;
  color: #f9ab00;
}
.experience-wrapper{
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}
.experience-wrapper::before{
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.0125rem;
  height: 100%;
  background: grey;
  z-index: 1;
}

.timeline-block{
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right{
  float: right;
}
.timeline-block-left{
  float: left;
  direction: rtl;
}
.marker{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.2125rem solid white;
  background: darkorange;
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content{
  width: 95%;
  padding: 0 0.9375rem;
  color: #343A40;
  direction: ltr;
}
.timeline-content h3{
  /* max-width: 0.3125rem; */
  font-weight: 500;
  color: red;
  border: 0px solid black;
}

.timeline-content p{
  color: white;
}

@media(max-width:768px){
  .experiences .container {
    padding-left: 0;
  }
  .experience-wrapper::before{
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right{
    float: none;
    width: 100%;
  }
  .timeline-block-left{
    float: none;
    direction: ltr;
    width: 100%;
  }

}

/* ============================projects============================== */

.portfolio-wrapper{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
  url('./Images/p1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem 1rem;
  height: auto;
}

.heading{
  color: #f9ab00;
}

.portfolio-image{
  width: 15rem;
  height: 15rem;
  border: 1px solid #f9ab00;
  padding: 0 0.5rem;

}

.portfolio-image-box{
  position: relative;
  margin: 1rem;
}
@media(min-width:1440px) {
  .portfolio-image {
    width: 20rem;
    height: 20rem;
    border: 1px solid #f9ab00;
    padding: 0 0.5rem;
  }
}


/* =======================================Overflow Box=================================== */

.overflow{
  position: absolute;
  opacity: 0;
  background: black;
  width: 15rem;
  height: 15rem;
  top: 0;
  border: 1px solid #f9ab00;
  cursor: pointer;
}

@media(min-width:1440px) {
  .overflow{
    width: 20rem;
    height: 20rem;
  }
}

.portfolio-image-box:hover .overflow{
  opacity: 85%;
  transition: 0.3s ease-in-out;
}

.portfolio-icon{
  position: absolute;
  opacity: 0;
  margin-left: -11rem;
  margin-top: 8.6rem;
  color: #f9ab00;
  font-size: 2.5rem;
}

.portfolio-image-box:hover .portfolio-icon{
  opacity: 80%;
  transition: 0.3sec ease-in-out;
  cursor: pointer;
}

@media(max-width:1440px) {
  .portfolio-icon {
    position: absolute;
    opacity: 0;
    margin-left: -9rem;
    margin-top: 6rem;
    color: #f9ab00;
    font-size: 2.5rem;
  }
}
/* =======================================POPUP BOX=================================== */

.popupbox-wrapper{
  margin-top: 6rem;
  width: 40%;
  background: linear-gradient(to bottom, rgba(71, 70, 70, 0.9), rgba(58, 57, 57, 0.9)),url("./Images/pexels-fauxels-3183150.jpg");
  color: white;
}
.popup-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border: 0px solid black;
  margin: auto;
}
.popup-box p,.popup-box h3{
  color: #f9ab00;
  font-weight: 600;
}
.portfolio-image-popupbox {
  width: 100%;
  margin: auto;
}
.link-button{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border: 0px solid black;
  margin: 10px;
}
.github,.demo{
  color: #f9ab00;
  font-weight: 700;
}
.technology-used{
  width: 60%;
  border: 0px solid black;
  display: flex;
  justify-content: space-evenly;
}
.tech-icon{
  width: 60px;
  height: 80px;
}
/* @media(max-width:768px){
  .popupbox-wrapper{
    height: 60%;
  }
  .portfolio-image-popupbox{
    width: 100%;
  }
} */
@media(max-height:667px){
  .popupbox-wrapper{
    height: 83%;
  }
  .portfolio-image-popupbox {
    width: 80%;
  }
  .tech-icon {
    width: 40px;
    height: 60px;
  }
  .popup-box p,
  .popup-box h3 {
    color: #f9ab00;
    font-weight: 400;
    text-align: justify;
  }
}

@media(height:568px) {
  .popupbox-wrapper {
    margin-top: 6rem;
    border: 0px solid white;
    height: 400px;
    padding: 0;
  }
  .popup-box {
    width: 80%;
    border: 0px solid white;
    gap: 2px;
    padding: 0;
  }
  .portfolio-image-popupbox {
    width: 100%;
    height: 60%;
  }
  .link-button {
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    border: 0px solid white;
    margin: 0;
  }
  .tech-icon {
    width: 20px;
    height: 40px;
  }

  .popup-box p,
  .popup-box h3 {
    color: #f9ab00;
    font-weight: 400;
    text-align: justify;
    border: 0px solid white;
    margin: 0;
  }
  .popup-box p{
    letter-spacing: -2px;
  }
  .popup-box h3{
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }
  .technology-used {
    width: 50%;
    border: 0px solid black;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
  }
  
}
/* =======================================Technology Carsoual=================================== */

.technologies{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("./Images/pexels-fauxels-3183150.jpg");
    background-size: cover;
    text-align: center;
    margin-bottom: 0;
    width: 100%;
    border: 0px solid white;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 2rem;
    height: auto;
}

@media(max-width:768px) {
  .technologies{
    height: auto;
    border: 0px solid white;
  }
  .technologies h1{
    font-size: 1.5rem;
  }
}
.technologies h1{
  color: #ef4035;
  text-transform: uppercase;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.technologies-content{
  text-align: center;
  max-width: 53.125rem;
  border: 0px solid white;
  margin: 0 auto 2rem auto;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 1rem;
  
}
.myCarousel{
  color: white;
  background: transparent;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 8%;
  height: 12.875rem;
  border: 0px solid white;
}
@media(max-width:768px) {
  .myCarousel {
    min-height: 10rem;
    padding: 0;
  }
  .myCarousel h3{
    font-size: 1rem;
  }
}
.myCarousel h3{
  margin-top: 2rem;
}

.carousel .slide img{
  width: 15rem !important;
  height: 15rem !important;
  border-radius: 50%;
}

.carousel .slide{
  background: transparent !important;
  height: 100% !important;
}
.carousel-root{
  margin: auto !important;
  margin-top: 3% !important;
}


/* =======================================Contact=================================== */

.contacts{
  background: #343A40;
  padding: 3rem 0;
}
.contacts h1{
  color: #f9ab00;
  padding: 1.3rem 0;
}
.contacts p{
  color: #f9ab00;
  font-size: 1.2rem;
}
.contacts input,.contacts textarea{
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid #7a7a7a;
  border-radius: 0;
  color: #f9ab00;
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

.contacts .container{
  padding: 4rem 0;
}

.contacts input:focus,.contacts textarea:focus{
  background: transparent;
  color: #f9ab00;
  border-bottom: 0.125rem solid #7a7a7a;
}

.contacts textarea{
  height: 17rem !important;
}

.contact-btn{
  margin: 2rem 0 0 0;
  width: 100%;
  border-color: #f9ab00;
}
.contact-btn:hover{
  background-color: orange;
}
.line{
  position: relative;
  width: 0;
  display: inline-block;
  height: 0.125rem;
  background: #f9ab00;
  top: -2.1rem;
}
input:focus+.line,textarea:focus+.line{
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input .form-control{
  margin: -0.3rem 0;
}
textarea .form-control {
  margin: -0.3rem 0;
}
@media(max-width:768px){
  .contacts{
    overflow-x: hidden;
  }
  .contacts .container{
    padding: 0 1rem;
  }
  .contacts p{
    padding: 0 0.4rem;
  }
} 

/* =======================================Footer=================================== */

.footer{
  background: var(--primary-black);
  color: var(--primary-black);
  padding: 3rem;
  border: 0px solid white;
}

.address{
  border: 0px solid white !important; 
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}
.footer a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.footer a:hover{
  text-decoration: none;
  color: var(--primary-orange);
  cursor: pointer;
}
.footer p{
  margin-bottom: 0;
  color: var(--primary-dark-grey);
}
.gap{
  border: 0px solid white;
  margin-bottom: 20px;
}
.link-to{
  display: flex;
  flex-direction: column;
}

